:root {
	--white: #DADADA;
	--grey: #AAAAAA;
	--darkgrey: #222222;
	--black: #1C1C1C;
}

html {
	color: var(--white);
	background-color: var(--black);
}


h2 {
	text-align: center;
}

input, button, textarea, .tracker-entry {
	color: var(--white);
	background-color: transparent;
	border-color: var(--white);
	border-style: solid;
	border-width: medium;
	border-radius: 10px;
	padding: 10px;
}

input::placeholder {
	color: var(--grey);
}

input:focus, button:hover, input[type="submit"]:hover, input[type="button"]:hover, textarea:focus {
	outline: none;
	border-style: dashed;
}

button:active, input[type="submit"]:active, input[type="button"]:active {
	background-color: var(--white);
	border-color: transparent;
	color: var(--black);
}

/* Search */
div#search-container {
	width: 100%;
	display: flex;
}

input#search-field {
	flex-grow: 1;
	margin-right: 5px;
}

/* Download progress */
div#download-progress {
	width: fit-content;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div.download-box {
	margin-bottom: 10px;
	padding: 10px;
	background-color: transparent;
	border-radius: 10px;
	border-width: medium;
	border-style: solid;

	min-height: 30px;
}

div.download-box:hover {
	border-style: dashed;
}

div.download-box[data-status="downloading"] {
	border-color: olive;
}

div.download-box[data-status="seeding"] {
	border-color: darkgreen;
}

div.download-box[data-status="stopped"] {
	border-color: darkred;
}

/* Download box */
div.download-box span {
	display: block;
}

span.torrent-title {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

span.download-percentage:after {
	content: "%";
}

div.download-box[data-status="downloading"] span.eta:before {
	content: "ETA: ";
}

/* Errors */
div#indexer-errors > * {
	background-color: darkred;
	padding: 10px;
	border-radius: 10px;
	width: fit-content;
}

/* Search results */
table#search-results-outer {
	width: 100%;
}

table#search-results-outer tr {
	background-color: transparent;
}

table#search-results-outer tr:not(:first-child):hover {
	background-color: var(--darkgrey);
}

table#search-results-outer {
	border-collapse: collapse;
}

tr:first-child {
	border-bottom-style: solid;
	border-width: medium;
	border-color: var(--white);
}

tr:only-child {
	display: none;
}

table button {
	border-style: solid;
	border-color: transparent;
}

table button:hover:not(:active) {
	border-style: dashed;
	border-color: var(--white);
}

p#search-notice {
	text-align: center;
	color: var(--grey);
}

.tracker-entry {
	margin-bottom: 10px;
}
