<!DOCTYPE html>


<div>
    <input type="search" id="search-field" placeholder="Search..."/>
    <button id="search-button" onclick="search()">Search</button>
</div>

<h2>Download progress</h2>
<div id="download-progress"></div>

<h2>Search results</h2>
<table id="search-results"><tr>
		<th>Title</th>
		<th>Size</th>
		<th>S</th>
		<th>P</th>
		<th>Download</th>
</tr></table>
<p id="search-notice">Press "Search" to search</p>

<form action="/set-config" method="POST">
	<textarea name="config">{{ config|e }}</textarea>
    <br>
    <input type="submit" value="Set config">
</form>

<script src="/public/index.js"></script>
