<!DOCTYPE html>

<link rel="stylesheet" href="/public/style.css">
<link rel="icon" href="/public/icon.png"></link>
<title>Just. Download.</title>

<div id="search-container">
    <input type="search" id="search-field" placeholder="Search..."/>
    <button id="search-button" onclick="search()">Search</button>
</div>

<h2>Download progress</h2>
<div id="download-progress"></div>

<h2>Search results</h2>
<div id="indexer-errors"></div>
<table id="search-results-outer"><tbody id="search-results"><tr>
		<th>Description</th>
		<th>Size</th>
		<th>S</th>
		<th>P</th>
		<th>Download</th>
</tr></tbody></table>
<p id="search-notice">Press "Search" to search</p>

<form action="/set-config" method="POST">
	<textarea name="config">{{ config|e }}</textarea>
    <br>
    <input type="submit" value="Set config">
</form>

<script src="/public/index.js"></script>
