<!DOCTYPE html>

<link rel="stylesheet" href="/public/style.css">
<link rel="icon" href="/public/icon.png"></link>
<title>Just. Download.</title>

<div id="search-container">
    <input type="search" id="search-field" placeholder="Search..."/>
    <button id="search-button" onclick="search()">Search</button>
</div>

<h2>Download progress</h2>
<div id="download-progress"></div>

<h2>Search results</h2>
<div id="indexer-errors"></div>
<table id="search-results-outer"><tbody id="search-results"><tr>
    <th onclick="sortTable(this, 0)">Description</th>
    <th onclick="sortTable(this, 1)">Size</th>
    <th onclick="sortTable(this, 2)">S</th>
    <th onclick="sortTable(this, 3)">P</th>
    <th>Download</th>
</tr></tbody></table>
<p id="search-notice">Press "Search" to search</p>

<button onclick="document.location.href='/config'">Configure</button>

<script src="/public/index.js"></script>
